@media screen and (max-width: 600px) {
  * {
    margin: auto;
    padding: auto;
  }
  #nav-pc {
    display: none;
  }
  #perfil {
    padding: 0;
  }
  #perfil,
  .btn,
  .btn-primary {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 1159px) {
  .d-flex.flex-wrap {
    flex-direction: column;
    align-items: center;
  }
  #sobremi,.bg-dark.border {
    padding: 10px;
  } 
}

@media screen and (min-width: 991px) {
  * {
    margin: auto;
    padding: auto;
  }
  #nav-pc{
    display: flex;
  }
  #nav-movil{
    display: none;
  }
  #perfil {
    padding: 0;
  }
  #perfil,
  .btn,
  .btn-primary {
    margin: 0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .d-flex.flex-wrap {
    flex-direction: column;
    align-items: center;
  }
  #sobremi,.bg-dark.border {
    padding: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
