@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  /*ir a cada seccion del nav mas fluido*/
}
body {
  font-family: "M PLUS 1 Code", monospace;
  background-color: rgba(23, 22, 25, 255);
}
hr {
  border: none;
  border-top: 2px solid rgba(38, 40, 40, 255);
  margin-right: 20rem;
  margin-left: 20rem;
  margin-top: 8rem;
}
.navbar-nav {
  margin-top: 2rem;
}

.navbar-nav {
  gap: 1rem;
}
.nav-link {
  color: #ffffff;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.nav-link:hover {
  color: #ffffff; /* Color de la letra blanco */
  background-color: #555555;
  transform: scale(1.1);
}

.btn,
.btn-primary {
  width: 8rem;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn,
.btn-primary:hover {
  /*border: black 0.1rem solid;*/
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-5px);
}

.btn,
.btn-primary:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn,
.btn-primary:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
#perfil,
h1 {
  color: rgb(0, 123, 255);
}
#tecnologias,
.d-flex .flex-wrap {
  gap: 2rem;
}
.img-fluid {
  width: auto;
  height: auto;
}
#sobremi,
h1 {
  color: rgb(0, 123, 255);
}


