@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  /*ir a cada seccion del nav mas fluido*/
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: rgba(23, 22, 25, 255);
}
hr {
  border: none;
  border-top: 2px solid rgba(38, 40, 40, 255);
  margin-right: 20rem;
  margin-left: 20rem;
  margin-top: 8rem;
}
.navbar-nav {
  margin-top: 2rem;
}

.navbar-nav {
  gap: 1rem;
}
.nav-link {
  color: #ffffff;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.nav-link:hover {
  color: #F4A460;
  background-color: #555555;
  transform: scale(1.1);
}
.btn,
.btn-primary {
  --bg: #F4A460;
  --hover-bg: #FFF5EE;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.btn,
.btn-primary:hover {
  /*border: black 0.1rem solid;*/
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}



.btn,
.btn-primary:active {
  transform: translate(0);
  box-shadow: none;
}

#tecnologias,
.d-flex .flex-wrap {
  gap: 2rem;
}
.img-fluid {
  width: auto;
  height: auto;
}
#sobremi,
h1 {
  color:#F4A460;
}

.timeline-item {
  padding: 20px;
}
.timeline-item h3 {
  margin-top: 0;
}
.timeline-item img {
  width: auto;
  height: auto;
  padding: 10px;
}

.timeline-item p {
  margin-bottom: 5px;
}
